{% load static %}
<head>
    <title>Checking invite</title>
    <script src="{% static "device-uuid/lib/device-uuid.js" %}" type="text/javascript"></script>
    <style>
    @font-face {
        font-family: montserrat;
        src: url({% static "Montserrat-Regular.ttf"%});
    }
    </style>
</head>
<body style="
    height: 100%;
    background: linear-gradient(to bottom right, #e73436 10%, #b31c85 30%, #9011ba 50%, #5664bd 70%, #2aa5c0 100%);
    color: #fff;
    text-align: center;
    font-family: montserrat">
  <img src="{% static "logo.png" %}">
  <h1 style="margin-top: 5em">Checking invite...</h1>
  <br/>
  <form action="." method="POST" id="invite-form">
    {% csrf_token %}
    <input type="hidden" name="device-id" value="">
  </form>
  <script>
    var device_id = new DeviceUUID().get();
    var form = document.querySelector('#invite-form');
    var input = document.querySelector('input[name="device-id"]')
    input.value = device_id;
    form.submit();
  </script>
</body>
